/SkillWillCorp.SP.Offices/SkillWillCorp.SP.Offices/bin/
/SkillWillCorp.SP.Offices/SkillWillCorp.SP.Offices/obj/
/SkillWillCorp.SP.Offices/SkillWillCorp.SP.Offices/pkg/
/SkillWillCorp.SP.Offices/SkillWillCorp.SP.Offices/pkgobj/
/SkillWillCorp.SP.Offices/packages/

/SkillWillCorp.SP.Offices/*.user
/SkillWillCorp.SP.Offices/*.suo
/SkillWillCorp.SP.Offices/SkillWillCorp.SP.Offices/*.user
